pipeline/nodered/data/flows.json
[{"id":"1d669124.c99cdf","type":"tab","label":"Sensor Data Flow","disabled":false,"info":""},{"id":"84c837b8.a18a08","type":"mqtt-broker","z":"","name":"Sensor MQTT","broker":"mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5d1e49f.e97018","type":"mqtt in","z":"1d669124.c99cdf","name":"Sensors","topic":"customTopic","qos":"2","broker":"84c837b8.a18a08","x":100,"y":280,"wires":[["56611a1a.94872c"]]},{"id":"56611a1a.94872c","type":"json","z":"1d669124.c99cdf","name":"Convert to JSON","property":"payload","action":"","pretty":true,"x":230,"y":380,"wires":[["133cbb7d.a40935"]]},{"id":"ce25567e.9b14c","type":"debug","z":"1d669124.c99cdf","name":"Print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":280,"wires":[]},{"id":"133cbb7d.a40935","type":"file","z":"1d669124.c99cdf","name":"Write to File","filename":"/data/sensordata/data.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":350,"y":280,"wires":[["4c469cc8.719324"]]},{"id":"4c469cc8.719324","type":"function","z":"1d669124.c99cdf","name":"Log to Fluentd","func":"const FluentLogger = context.global.get('FluentLogger');\nconst EventTime = FluentLogger.EventTime;\nconst Cloudevent = context.global.get('Cloudevent');\nconst uuidv4 = context.global.get('uuidv4');\n\nlet date = new Date();\nlet event = Cloudevent\n    .event()\n    .type(\"com.rdsea.nodered.mqtt.app.dataAsset\")\n    .source(`nodes/${node.name}-${node.id}`)\n    .id(uuidv4())\n    .time(date)\n    .data(msg.payload)\n    .subject(\"data asset\")\n    .addExtension(\"log\",`Sensor data received and written to File`);\n\nFluentLogger.emit('mqtt.app.dataAsset', event.spec.payload, EventTime.fromDate(date));\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["ce25567e.9b14c"]]}]