pipeline/nodered/data/flows.json
[{"id":"1d669124.c99cdf","type":"tab","label":"Sensor Data Flow","disabled":false,"info":""},{"id":"84c837b8.a18a08","type":"mqtt-broker","z":"","name":"Sensor MQTT","broker":"mqtt","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5d1e49f.e97018","type":"mqtt in","z":"1d669124.c99cdf","name":"Sensors","topic":"customTopic","qos":"2","broker":"84c837b8.a18a08","x":100,"y":280,"wires":[["56611a1a.94872c"]]},{"id":"56611a1a.94872c","type":"json","z":"1d669124.c99cdf","name":"Convert to JSON","property":"payload","action":"","pretty":true,"x":230,"y":380,"wires":[["133cbb7d.a40935"]]},{"id":"ce25567e.9b14c","type":"debug","z":"1d669124.c99cdf","name":"Print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":280,"wires":[]},{"id":"133cbb7d.a40935","type":"file","z":"1d669124.c99cdf","name":"Write to File","filename":"/data/sensordata/data.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":350,"y":280,"wires":[["4c469cc8.719324"]]},{"id":"4c469cc8.719324","type":"function","z":"1d669124.c99cdf","name":"Log to Fluentd","func":"const FluentLogger = context.global.get('FluentLogger');\nconst EventTime = FluentLogger.EventTime;\n\nlet tmp = msg.payload;\nmsg.payload = {};\nmsg.payload.payload = {};\nmsg.payload.payload = tmp;\n\nmsg.payload.log = \"MQTT message written to File\";\nmsg.payload.payload.prov.wasDerivedFrom = msg.payload.payload.prov.id;\nmsg.payload.payload.prov.id = \"nodered\";\nmsg.payload.payload.prov.wasGeneratedBy = \"nodered-storage-file\";\n\nFluentLogger.emit('mqtt.app.dataAsset', msg.payload, EventTime.now());\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["ce25567e.9b14c"]]}]