pipeline/nodered/flows.json
[{"id":"1d669124.c99cdf","type":"tab","label":"Sensor Data Flow","disabled":false,"info":""},{"id":"84c837b8.a18a08","type":"mqtt-broker","z":"","name":"Sensor MQTT","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5d1e49f.e97018","type":"mqtt in","z":"1d669124.c99cdf","name":"Sensors","topic":"customTopic","qos":"2","broker":"84c837b8.a18a08","x":100,"y":280,"wires":[["56611a1a.94872c"]]},{"id":"56611a1a.94872c","type":"json","z":"1d669124.c99cdf","name":"Convert to JSON","property":"payload","action":"","pretty":true,"x":230,"y":380,"wires":[["133cbb7d.a40935"]]},{"id":"ce25567e.9b14c","type":"debug","z":"1d669124.c99cdf","name":"Print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":380,"wires":[]},{"id":"133cbb7d.a40935","type":"file","z":"1d669124.c99cdf","name":"Write to File","filename":"/data/sensordata/data.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":350,"y":280,"wires":[["7bfd8725.275b58"]]},{"id":"cde44a32.124a58","type":"http request","z":"1d669124.c99cdf","name":"Log to Fluentd","method":"POST","ret":"bin","url":"http://fluentd:9880/nodered.mqtt","tls":"","x":700,"y":280,"wires":[[]]},{"id":"7bfd8725.275b58","type":"change","z":"1d669124.c99cdf","name":"Json for Fluentd","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"},{"t":"set","p":"payload.log","pt":"msg","to":"MQTT message written to File","tot":"str"},{"t":"set","p":"payload.payload.prov.wasDerivedFrom","pt":"msg","to":"payload.payload.prov.previousId","tot":"msg"},{"t":"set","p":"payload.payload.prov.previousId","pt":"msg","to":"nodered","tot":"str"},{"t":"set","p":"payload.payload.prov.wasGeneratedBy","pt":"msg","to":"nodered-storage-file","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["cde44a32.124a58","ce25567e.9b14c"]]}]