nodered/flows.json
[{"id":"1d669124.c99cdf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84c837b8.a18a08","type":"mqtt-broker","z":"","name":"Sensor MQTT","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5d1e49f.e97018","type":"mqtt in","z":"1d669124.c99cdf","name":"Sensors","topic":"customTopic","qos":"2","broker":"84c837b8.a18a08","x":300,"y":280,"wires":[["56611a1a.94872c"]]},{"id":"56611a1a.94872c","type":"json","z":"1d669124.c99cdf","name":"Convert to JSON","property":"payload","action":"","pretty":true,"x":510,"y":280,"wires":[["ce25567e.9b14c","133cbb7d.a40935"]]},{"id":"ce25567e.9b14c","type":"debug","z":"1d669124.c99cdf","name":"Print payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":200,"wires":[]},{"id":"133cbb7d.a40935","type":"file","z":"1d669124.c99cdf","name":"Write to File","filename":"/data/sensordata/data.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":710,"y":320,"wires":[[]]}]